<div class="contents">
  <div class="meal_record">
    <% @meal_records.each do |meal_record| %>
    <%= link_to meal_record_path(meal_record.id) do %>
  <div class='meal_record-img-content'>
    <%= meal_record.text %>
    <%= image_tag meal_record, class: "meal_record-img" %>
    <%= meal_record.user.name %>
    <% end %>
    <%end%>
  </div>
  <%= render partial: "form", locals: { meal_record: @meal_record }, class:"meal_record-form" %> 
</div>