<div class="contents">
  <div class="body_make">
    <% @body_makes.each do |body_make| %>
    <%= link_to body_make_path(body_make.id) do %>
  <div class='body_make-img-content'>
    <%= body_make.text %>
    <%= image_tag body_make, class: "body_make-img" %>
    <%= body_make.weight %>
    <%= body_make.user.name %>
    <% end %>
    <%end%>
  </div>
  <%= render partial: "form", locals: { body_make: @body_make }, class:"body_make-form" %> 
</div>