<!DOCTYPE html>
<html>
  <head>
    <title>Legends</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>  
  </head>

  <body>

  <% if flash[:notice] %>
  <p class ="notice"><%= notice %></p>
  <% end %>

    <% if flash[:alert] %>
  <p class ="alert"><%= alert %></p>
  <% end %>

  <%= link_to root_path class: "navber-item" do %>
  <hi class="title is-4" style="font-family:cursive;">Legends</hi>
  <% end %>

<% if user_signed_in? %>
  <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "navber-item"  %>
<% else %>
  <%= link_to 'ログイン', new_user_session_path, class: "navber-item" %>
  <%= link_to '新規登録', new_user_registration_path, class: "navber-item" %>
<% end %>

<div class = "bg-image" ></div>

    <%= yield %>
  </body>
</html>
